---
layout: default
---

<div class="page-content">
  <div class="header-background">
    <div class="container-fluid"> <!-- Bootstrap container for responsive content alignment -->
      <div class="row align-items-center"> <!-- Row with vertical centering -->
        <div class="col-md-6"> <!-- Image container taking up half the width on medium screens and above -->
          <img src="{{ site.baseurl }}/assets/img/hyperboloid_rotation_white.gif" alt="Hyperboloid Rotation GIF" class="img-fluid"> <!-- img-fluid makes the image responsive -->
        </div>
        <div class="col-md-6 text-white text-center text-md-left"> <!-- Text container, centered on small screens and left-aligned on medium screens and above -->
          <h1 class="post-title">
            {% if site.title == "blank" -%} 
                AMLD EPFL 2025 Workshop on <br>
                <span class="font-weight-bold" style="color: white;">Hyperbolic Learning in Action</span>
            {%- else -%} 
                {{ site.title }} 
            {%- endif %}
          </h1>
          <p class="desc font-weight-bold text-white">14.02.2025 | 09:00AM  |  WS50 Garden 3BC</p>
        </div>
      </div>
    </div>
  </div>
</div>


    
    <div class="wrapper container mt-5">

  <article>

    <div class="clearfix">
  <p>
    Modern deep learning in computer vision is dominated by networks designed to operate on 
    Euclidean manifolds. But is Euclidean geometry truly the best fit for these models, or 
    just a convenient choice? Recent advances in machine learning and computer vision suggest 
    that <strong>hyperbolic geometry</strong> presents a powerful alternative. This geometry 
    offers enhanced capabilities for embedding complex structures such as hierarchies, graphs, 
    text, images, and videos.
  </p>

  <p>
    In light of these developments, our tutorial aims to introduce hyperbolic geometry as a 
    promising tool for computer vision, appealing to both researchers and practitioners. 
    Whether you're new to the concept or looking to deepen your understanding, this tutorial 
    offers both theoretical and practical insights.
  </p>

  <h3 class="post-title">What to Expect</h3>

  <p>
    At the conference, we’ll provide an accessible introduction to hyperbolic geometry, designed 
    especially for non-mathematicians. Our goal is to focus on intuition and high-level concepts, 
    ensuring that the topic is approachable and engaging for everyone.
  </p>

  <p>
    We will also cover the latest advancements in the field, exploring the current use of hyperbolic 
    geometry in computer vision from both <em>supervised</em> and <em>unsupervised</em> perspectives. 
    By the end of the session, we’ll highlight open research challenges and the future potential 
    of hyperbolic geometry for visual understanding.
  </p>

  <h3 class="post-title">Practical Insights and Hands-On Experience</h3>

  <p>
    Unlike typical theoretical tutorials, we go beyond the foundations. Our tutorial website will 
    feature interactive, notebook-style code snippets based on foundational works in hyperbolic 
    geometry. These resources are designed to help you gain hands-on experience, lowering the barrier 
    to entry and allowing you to actively explore this exciting new research area.
  </p>

  <p>
    Whether you're just starting your journey or are already familiar with deep learning, this tutorial 
    is your guide to understanding and utilizing hyperbolic geometry in computer vision.
  </p>

</div>

<div class="speakers">
  <h2 class="post-title"><span class="font-weight-bold">Organisers</span></h2>
  <div class="row"> <!-- Start of the row -->
    <div class="col-md-6 col-lg-4"> <!-- Adjust column width as needed -->
      <div class="card hoverable">
        <img src="{{ site.baseurl }}/assets/img/simone.jpg" alt="Simone Lionetti">
        <div class="card-body">
          <h2 class="card-title">Simone Lionetti</h2>
          <h6 class="card-text">Lucerne University of Applied Sciences and Arts</h6>
          <div class="affiliate">
            <a href="https://scholar.google.com/citations?user=WCvkBwkAAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4"> <!-- Adjust column width as needed -->
      <div class="card hoverable">
        <img src="{{ site.baseurl }}/assets/img/alvaro.jpg" alt="Alvaro Gonzalez-Jimenez">
        <div class="card-body">
          <h2 class="card-title">Alvaro Gonzalez-Jimenez</h2>
          <h6 class="card-text">University of Basel</h6>
          <div class="affiliate">
            <a href="https://scholar.google.com/citations?user=LbtKzVgAAAAJ&hl=en" title="GoogleScholar" target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
            <a href="https://alvarogonjim.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of the row -->
</div>
     

  </article>
 </div>
